name: Collaborative Workflow

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write    # allow workflow to push changes

jobs:
  update-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
